<app-details-page *ngIf="!isNoDetails && !isLoading">
  <ng-container type>Planetendetails</ng-container>
  <ng-container title>{{ planetDetails!.name }}</ng-container>
  <ng-container content>
    <h3>Details:</h3>
    <ul class="details-list">
      <li><span>Durchmesser:</span> {{ planetDetails!.diameter}}</li>
      <li><span>Rotationsperiode:</span> {{ planetDetails!.rotation_period}}</li>
      <li><span>Klima:</span> {{ planetDetails!.climate }}</li>
      <li><span>Gravitation:</span> {{ planetDetails!.gravity }}</li>
      <li><span>Population:</span> {{ planetDetails!.population }}</li>
      <li><span>Orbitalperiode:</span> {{ planetDetails!.orbital_period }}</li>
      <li><span>Oberflächenwasser:</span> {{ planetDetails!.surface_water }}</li>
      <li><span>Terrain:</span> {{ planetDetails!.terrain }}</li>
    </ul>

    <h4 *ngIf="films.length">Filme:</h4>
    <p-button class="list-button"
              styleClass="ui-button-secondary"
              *ngFor="let film of films"
              label="{{ film.title }}"
              [routerLink]="['/films/details', { id: film.id } ]"
    ></p-button>

    <h4 *ngIf="residents.length">Bewohner:</h4>
    <p-button class="list-button"
              styleClass="ui-button-secondary"
              *ngFor="let resident of residents"
              label="{{ resident.name }}"
              [routerLink]="['/peoples/details', { id: resident.id } ]"
    ></p-button>

  </ng-container>
</app-details-page>

<app-details-page *ngIf="isLoading">
  <ng-container type>Planetendetails</ng-container>
  <ng-container content>
    <p>is loading...</p>
  </ng-container>
</app-details-page>

<app-details-page *ngIf="isNoDetails && !isLoading">
  <ng-container type>Planetendetails</ng-container>
  <ng-container content>
    <p>no details found...</p>
  </ng-container>
</app-details-page>

