app-details-page .details-content {

  h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  .details-list {
    list-style: none;
    padding-inline-start: 0;

    span {
      font-weight: bold;
    }
  }

  h4 {
    margin-bottom: 5px;
  }

  .list-button {
    animation: loading .5s ease-in forwards;
    margin: 5px;
  }
}

@keyframes loading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
