<div class="headline">
  <h1>Suchergebnisse</h1>
</div>

<ng-container *ngIf="isError else showResults">
  <div class="p-grid">
    <p>Nothing found...</p>
  </div>
</ng-container>

<ng-template #showResults>
  <div class="p-grid">
    <div *ngFor="let result of searchResults"
         class="p-col-12 p-md-6 p-lg-3 list-card"
    >
      <p-card header="{{ result.name || result.title }}"
              styleClass="ui-card-shadow"
      >
        <p-footer>
          <p-button label="Mehr Informationen"
                    styleClass="ui-button-raised ui-button-secondary"
                    [routerLink]="['/' + result.category + '/details', {id: result.id }]" [state]="result"
          ></p-button>
        </p-footer>
      </p-card>
    </div>
  </div>
</ng-template>
