<app-details-page *ngIf="!isNoDetails && !isLoading">
  <ng-container type>Filmdetails</ng-container>
  <ng-container title>{{ filmDetails!.title }}</ng-container>
  <ng-container episode>Episode {{ filmDetails!.episode_id | romanNumberConverter }}</ng-container>
  <ng-container content>
    <h3>Details:</h3>
    <ul class="details-list">
      <li><span>Director:</span> {{ filmDetails!.director}}</li>
      <li><span>Produzenten:</span> {{ filmDetails!.producer}}</li>
      <li><span>Erscheinungsdatum:</span> {{ filmDetails!.created | date }}</li>
    </ul>

    {{ filmDetails!.opening_crawl }}

    <h4 *ngIf="characters.length">Charaktere:</h4>
    <p-button class="list-button"
              styleClass="ui-button-secondary"
              *ngFor="let character of characters"
              label="{{ character.name }}"
              [routerLink]="['/peoples/details', { id: character.id } ]"
    ></p-button>

    <h4 *ngIf="planets.length">Planeten:</h4>
    <p-button class="list-button"
              styleClass="ui-button-secondary"
              *ngFor="let planet of planets"
              label="{{ planet.name }}"
              [routerLink]="['/planets/details', { id: 1 } ]"
    ></p-button>

    <h4 *ngIf="starships.length">Raumschiffe:</h4>
    <p-button class="list-button"
              styleClass="ui-button-secondary"
              *ngFor="let starship of starships"
              label="{{ starship.name }}"
    ></p-button>

    <h4 *ngIf="vehicles.length">Fahrzeuge:</h4>
    <p-button class="list-button"
              styleClass="ui-button-secondary"
              *ngFor="let vehicle of vehicles"
              label="{{ vehicle.name }}"
    ></p-button>

  </ng-container>
</app-details-page>

<app-details-page *ngIf="isLoading">
  <ng-container type>Filmdetails</ng-container>
  <ng-container content>
    <p>is loading...</p>
  </ng-container>
</app-details-page>

<app-details-page *ngIf="isNoDetails && !isLoading">
  <ng-container type>Filmdetails</ng-container>
  <ng-container content>
    <p>no details found...</p>
  </ng-container>
</app-details-page>

