@import '../01_globals/colors';

a {
    // TODO: Define link style here.
    // color: $color-link;
    // text-decoration: none;
    //
    // &:focus,
    // &:hover {
    //    text-decoration: underline;
    // }
}

