.p-grid{
  margin-left: 10%;
  margin-right: 10%;
}

@mixin list-card() {
  animation: loading .5s ease-in forwards;

  .card-content-info {
    .info-key {
      display: inline-block;
      min-width: 150px;
      font-weight: bold;
    }

    .info-value {
      display: inline-block;
    }
  }

  @keyframes loading {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

