<div class="headline">
  <h1>Planeten</h1>
  <p-button label="neuer Planet"
            styleClass="ui-button-raised ui-button-secondary"
            (click)="addNewPlanet()"
  ></p-button>
</div>

<ng-container *ngIf="isError else showPlanets">
  <div class="p-grid">
    <p>No planets found...</p>
  </div>
</ng-container>

<ng-template #showPlanets>
  <div class="p-grid">
    <div *ngFor="let planet of planets"
         class="p-col-12 p-md-6 p-lg-3 list-card"
    >
      <p-card header="{{ planet.name }}"
              styleClass="ui-card-shadow"
      >
        <div>
          <p class="card-content-info">
            <span class="info-key">Durchmesser:</span><span class="info-value">{{ planet.diameter }}</span>
          </p>
          <p class="card-content-info">
            <span class="info-key">Population:</span><span class="info-value">{{ planet.population }}</span>
          </p>
        </div>
        <p-footer>
          <p-button label="Mehr Informationen"
                    styleClass="ui-button-raised ui-button-secondary"
                    [routerLink]="['/planets/details', {id: planet.id }]" [state]="planet"
          ></p-button>
        </p-footer>
      </p-card>
    </div>
  </div>
</ng-template>

<p-dialog header="Planet hinzufügen" [(visible)]="displayDialog" [draggable]="false" [modal]="true">
  <div *ngIf="!isPlanetCreated" class="ui-fluid" style="margin: 10px 10%">
    <div class="p-field">
      <label for="name-input">Name</label>
      <input id="name-input" type="text" size="35" pInputText
             class="ui-inputtext ui-corner-all ui-state-default ui-widget">
    </div>
    <div class="p-field">
      <label for="dia-input">Durchmesser</label>
      <input id="dia-input" type="number" size="35" pInputText
             class="ui-inputtext ui-corner-all ui-state-default ui-widget">
    </div>
    <div class="p-field">
      <label for="population-input">Population</label>
      <input id="population-input" type="number" size="35" pInputText
             class="ui-inputtext ui-corner-all ui-state-default ui-widget">
    </div>
    <div class="p-field">
      <label for="climate-input">Klima</label>
      <input id="climate-input" type="text" size="35" pInputText
             class="ui-inputtext ui-corner-all ui-state-default ui-widget">
    </div>
    <div class="p-field">
      <label for="rotation-input">Rotationsperiode</label>
      <input id="rotation-input" type="number" size="35" pInputText
             class="ui-inputtext ui-corner-all ui-state-default ui-widget">
    </div>
    <div class="p-field">
      <label for="gravity-input">Gravitation</label>
      <input id="gravity-input" type="text" size="35" pInputText
             class="ui-inputtext ui-corner-all ui-state-default ui-widget">
    </div>
    <div class="p-field">
      <label for="orbit-input">Orbitalperiode</label>
      <input id="orbit-input" type="number" size="35" pInputText
             class="ui-inputtext ui-corner-all ui-state-default ui-widget">
    </div>
    <div class="p-field">
      <label for="sw-input">Oberflächenwasser</label>
      <input id="sw-input" type="number" size="35" pInputText
             class="ui-inputtext ui-corner-all ui-state-default ui-widget">
    </div>
    <div class="p-field">
      <label for="terrain-input">Terrain</label>
      <input id="terrain-input" type="text" size="35" pInputText
             class="ui-inputtext ui-corner-all ui-state-default ui-widget">
    </div>
    <div class="p-field">
      <label for="films-input">Films</label>
      <p-multiSelect id="films-input" [options]="filmsOptions" [(ngModel)]="selectedFilms" optionLabel="name"></p-multiSelect>
    </div>
  </div>
  <div *ngIf="isPlanetCreated" class="ui-fluid" style="margin: 10px 10%; min-width: 250px">
    <p>Planet wurde hinzugefügt!</p>
  </div>
  <p-footer *ngIf="!isPlanetCreated">
    <p-button label="Zurück"
              styleClass="ui-button-raised ui-button-secondary"
              (click)="closeDialog()"
    ></p-button>
    <p-button label="Hinzufügen"
              styleClass="ui-button-raised ui-button-primary"
              (click)="createPlanet()"
    ></p-button>
  </p-footer>

</p-dialog>
