@import '../../shared/scss/03_base/list-card';

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.list-card {
  @include list-card;
}




