<div class="headline">
  <h1>Filme</h1>
</div>

<ng-container *ngIf="isError else showFilms">
  <div class="p-grid">
    <p>No films found...</p>
  </div>
</ng-container>

<ng-template #showFilms>
  <div class="p-grid">
    <div *ngFor="let film of films"
         class="p-col-12 p-md-6 p-lg-3 list-card"
    >
      <p-card header="{{ film.title }}"
              subheader="Episode: {{ film.episode_id}}"
              styleClass="ui-card-shadow"
      >
        <div>
          <p class="card-content-info">
            <span class="info-key">Director:</span><span class="info-value">{{film.director}}</span>
          </p>
          <p class="card-content-info">
            <span class="info-key">Produzenten:</span><span class="info-value">{{film.producer}}</span>
          </p>
          <p class="card-content-info">
            <span class="info-key">Erscheinungsdatum:</span><span class="info-value">{{film.release_date}}</span>
          </p>
        </div>
        <p-footer>
          <p-button label="Mehr Informationen"
                    styleClass="ui-button-raised ui-button-secondary"
                    [routerLink]="['/films/details', {id: film.id }]" [state]="film"
          ></p-button>
        </p-footer>
      </p-card>
    </div>
  </div>
</ng-template>
