<app-details-page *ngIf="!isNoDetails && !isLoading">
  <ng-container type>Charakterdetails</ng-container>
  <ng-container title>{{ peopleDetails!.name }}</ng-container>
  <ng-container content>
    <h3>Details:</h3>
    <ul class="details-list">
      <li><span>Größe:</span> {{ peopleDetails!.height}}</li>
      <li><span>Gewicht:</span> {{ peopleDetails!.mass}}</li>
      <li><span>Haarfarbe:</span> {{ peopleDetails!.hair_color }}</li>
      <li><span>Augenarbe:</span> {{ peopleDetails!.eye_color }}</li>
      <li><span>Geburtsjahr:</span> {{ peopleDetails!.birth_year }}</li>
      <li><span>Geschlecht:</span> {{ peopleDetails!.gender }}</li>
    </ul>

    <h4 *ngIf="films.length">Filme:</h4>
    <p-button class="list-button"
              styleClass="ui-button-secondary"
              *ngFor="let film of films" label="{{ film.title }}"
              [routerLink]="['/films/details', { id: film.id } ]"
    ></p-button>

    <h4 *ngIf="homeworld.length">Homeworld:</h4>
    <p-button class="list-button"
              styleClass="ui-button-secondary"
              *ngFor="let home of homeworld"
              label="{{ home.name }}"
              [routerLink]="['/planets/details', { id: home.id } ]"
    ></p-button>

   <h4 *ngIf="species.length">Spezies:</h4>
    <p-button class="list-button"
              styleClass="ui-button-secondary"
              *ngFor="let specie of species"
              label="{{ specie.name }}"
    ></p-button>

    <h4 *ngIf="vehicles.length">Fahrzeuge:</h4>
    <p-button class="list-button"
              styleClass="ui-button-secondary"
              *ngFor="let vehicle of vehicles"
              label="{{ vehicle.name }}"
    ></p-button>

    <h4 *ngIf="starships.length">Raumschiffe:</h4>
    <p-button class="list-button"
              styleClass="ui-button-secondary"
              *ngFor="let starship of starships"
              label="{{ starship.name }}"
    ></p-button>

  </ng-container>
</app-details-page>

<app-details-page *ngIf="isLoading">
  <ng-container type>Charakterdetails</ng-container>
  <ng-container content>
    <p>is loading...</p>
  </ng-container>
</app-details-page>

<app-details-page *ngIf="isNoDetails && !isLoading">
  <ng-container type>Charakterdetails</ng-container>
  <ng-container content>
    <p>no details found...</p>
  </ng-container>
</app-details-page>

