@import "../../../shared/scss/01_globals/icons";

.nav-menu {
  height: auto;
  min-height: 50px;
  width: 100%;
  border-bottom: 1px solid #999999;

  &__logo {
    @extend %sw-logo-black;
    background-position: center;
    background-size: cover;
    height: 40px;
    width: 40px;
    margin: 5px;
  }

  &__items {
    ul {
      display: flex;
      list-style: none;
      padding-inline-start: 10px;

      li + li {
        margin-left: 10px;
      }
    }

    .menu-item__link {
      color: black;
      font-size: 0.8em;
    }

    .menu-item__link:after,
    .active-link:after {
      content: "";
      display: block;
      width: 0;
      border-bottom: 1px solid black;
      margin: 0 auto;
      transition:all 0.2s linear 0s;
    }


    .menu-item__link:hover:after {
      width: 100%;
    }

    .menu-item__link.active-link:after {
      width: 100%;
      content: "";
      display: block;
      border-bottom: 1px solid black;
      margin: 0 auto;
    }
  }

  &__search {
    padding: 10px 0 10px 5px;
  }

  .menu-wrapper {
    display: flex;
    height: auto;
    width: auto;
    margin: 0 10%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .menu-items-wrapper {
    display: flex;
    align-items: center;
  }
}

