<div class="nav-menu">
  <div class="menu-wrapper">
    <div class="menu-items-wrapper">
    <a [routerLink]="['/']"><div class="nav-menu__logo"></div></a>
    <div class="nav-menu__items">
      <ul>
        <li class="menu-item" *ngFor="let route of routes">
          <a class="menu-item__link"
             [title]="route.data.title"
             routerLinkActive="active-link"
             [routerLink]="[route.path]">
            {{ route.data.title }}
          </a>
        </li>
      </ul>
    </div>
  </div>
    <div class="nav-menu__search">
      <div class="ui-fluid">
        <div [formGroup]="searchForm"
             class="ui-inputgroup"
        >
          <input type="text" pInputText
                 placeholder="Search"
                 class="ui-inputtext ui-corner-all ui-state-default ui-widget"
                 name="search"
                 formControlName="searchText"
                 (keydown.enter)="onSearch()">
          <button pButton type="button" icon="pi pi-search"
                  class="ui-button-warn ui-button-secondary ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                  style="border: 1px solid #a6a6a6"
                  (click)="onSearch()"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
