<div class="details-page">
  <p class="details-type">
    <ng-content select="[type]"></ng-content>
  </p>
  <hr>
  <h1 class="details-title">
    <ng-content select="[title]"></ng-content>
  </h1>
  <p class="details-episode">
    <ng-content select="[episode]"></ng-content>
  </p>
  <div class="details-content">
    <ng-content select="[content]"></ng-content>
  </div>
</div>
