.details-page {
  margin: 5px 10%;

  .details-title {
    text-align: center;
    text-transform: uppercase;
  }

  .details-type {
    text-align: center;
    font-weight: lighter;
  }

  hr {
    width: 30px;
  }

  .details-episode {
    text-align: center;
    color: #999999;
    font-size: 1.4em;
  }
}
