// define explicit colors here, but consider them as "private":
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #555555;

// define semantic colors here (this weill be used in other SCSS files):
$color-error: #771144;
$color-success: #227766;
