<div class="headline">
  <h1>Charaktere</h1>
</div>

<ng-container *ngIf="isError else showPeople">
  <div class="p-grid">
    <p>No people found...</p>
  </div>
</ng-container>

<ng-template #showPeople>
  <div class="p-grid">
    <div *ngFor="let people of peoples"
         class="p-col-12 p-md-6 p-lg-3 list-card"
    >
      <p-card header="{{ people.name }}"
              styleClass="ui-card-shadow"
      >
        <div>
          <p class="card-content-info">
            <span class="info-key">Geburtsjahr:</span><span class="info-value">{{people.birth_year}}</span>
          </p>
          <p class="card-content-info">
            <span class="info-key">Geschlecht:</span><span class="info-value">{{people.gender}}</span>
          </p>
        </div>
        <p-footer>
          <p-button label="Mehr Informationen"
                    styleClass="ui-button-raised ui-button-secondary"
                    [routerLink]="['/peoples/details', {id: people.id }]" [state]="people"
          ></p-button>
        </p-footer>
      </p-card>
    </div>
  </div>
</ng-template>
