@import 'app/shared/scss/05_components/details-page';

body {
  margin: 0;
  font-family: Helvetica, serif;

  a {
    color: black;
  }

  a:hover,
  a:focus {
    color: lighten(black, 50%);
  }
}

