@import "../shared/scss/01_globals/icons";

.sw-logo {
  @extend %sw-logo-black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60vh;
  width: 80vw;
  margin: 0 auto;
}
